{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe
{% endblock %}

{% block body %}
	<main id="login">
		<section class="lastSection">
			<h1>Réinitialisation du mot de passe</h1>
			{{form_start(passForm)}}
			{{form_row(passForm.plainPassword)}}

			<button class="btnOk" type="submit">Envoyer</button>
			{{form_end(passForm)}}

		</section>
	</main>
{% endblock %}
