{% extends 'base.html.twig' %}

{% block title %}Demande de réinitialisation de mot de passe
{% endblock %}

{% block body %}
	<main id="login">
		<section>
			<h1>Demande de réinitialisation de mot de passe</h1>
			{{form_start(requestPassForm)}}
			{{form_row(requestPassForm.email)}}

			<button class="btnOk" type="submit">Envoyer</button>
			{{form_end(requestPassForm)}}

		</section>
	</main>
{% endblock %}
