{% extends 'base.html.twig' %}

{% block metaTag %}
	<meta name="Produits" content="Les abeilles des Ruchers des Gobelins produisent du miel de printemps et du miel d'été normand 100% naturel.">
{% endblock %}

{% block title %}Miel 100% naturel produit par des abeilles normandes | Les Ruchers des Gobelins
{% endblock %}

{% block stylesheets %}
	{# <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"> #}
	{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/> {{ encore_entry_link_tags('app') }}

{% endblock %}

{% block body %}
	<main
		id="produits">

		{# section printemps #}
		<section class="impair">
			<div class="widthDesktop">
				<h1>Produits</h1>
				<h2>Miel de printemps</h2>
				<div
					class="texteImg">
					{# image #}
					<div class="dfCenter">
						<div>
							<img src="{{asset('./img/produit-300px.webp')}}" alt="pot de miel de printemps">

						</div>
					</div>
					{# fin image #}
					{# texte #}
					<p>Vendu en pot de 250g, 500g ou 1Kg.
						<br><br>
						Miel clair, à cristalisation rapide.
						<br>
						Peut être à base de nectar de colza et d’aubépine.
					</p>
					{# fin texte #}
				</div>
			</div>
		</section>
		{# fin section printemps #}

		{# section été #}
		<section class="pair backgroundImage">
			<div class="widthDesktop">
				<h2>Miel d'été</h2>
				<div
					class="texteImg">

					{# texte #}
					<p>Vendu en pot de 250g, 500g ou 1Kg.
						<br><br>
						Miel foncé, à cristalisation lente.
						<br>
						Peut être à base de nectar de chataignier, de ronce ou de sarrasin.
					</p>
					{# fin texte #}
					{# image #}
					<div class="dfCenter">
						<div>
							<img src="{{asset('./img/miel-ete-300px.webp')}}" alt="pot de miel d'été">

						</div>
					</div>
					{# fin image #}
				</div>
			</div>
		</section>

		{# fin section été #}

		{# section essaim #}
		<section class="impair lastSection">
			<div class="widthDesktop">
				<h2>Essaim hiverné</h2>
				<div
					class="texteImg">
					{# image #}
					<div class="dfCenter">
						<div>
							<img src="{{asset('./img/abeilles-fond-300px.jpeg')}}" alt="abeilles">

						</div>
					</div>
					{# fin image #}
					{# texte #}
					<p>Essaim d’abeilles Buckgast
						<br><br>
						vendu sur 3 cadres de couvains et un cadre de réserve.
					</p>
					{# fin texte #}
				</div>
			</div>
		</section>

		{# fin section essaim #}
	</main>

{% endblock %}
