/* page login */

#login section {
    display: flex;
    justify-content: center;
    align-items: center;

}

#login form .connexionForm {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;

}
#login form .mb-3 a {
    text-decoration: underline;
}
#login form .connexionForm label {

    margin-bottom: .5rem;
}

#login form .connexionForm input {
    padding: .3rem .5rem;
    min-width: 300px;
    max-width: 500px;
}

/* fin page login */

/* pages Profil / User & CRUD associé */

#profil .gestionUser div {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
}

#profil .gestionUser div a {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#profil p {
    padding-top: 0;
}
/* fin pages Profil / User & CRUD associé */