@font-face {
  font-family: "MedievalSharp";
  src: url(../font/medieval/MedievalSharp-Book.ttf);
}
@font-face {
  font-family: "MedievalSharpBold";
  src: url(../font/medieval/MedievalSharp-Bold.ttf);
}
@font-face {
  font-family: "Inter";
  src: url(../font/inter/Inter-Regular.ttf);
}
@font-face {
  font-family: "InterBold";
  src: url(../font/inter/Inter-Bold.ttf);
}

:root {
  --color-one: #faeb39;
  --color-one-light: #fff;
  --color-one-extralight: #fff;

  --color-two: #488505;

  --color-three: #86b24e;
  --color-three-dark: #769b44;

  --color-four: #cacf9e;

  --color-five: #fff;

  --color-six: #000;
}

/* INITIALISATION */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: var(--color-six);
  font-size: 1rem;
  text-decoration: none;
  list-style: none;
}
/* symfony */
.sf-toolbar-clearer {
  display: none !important;
}

/* fin symfony */

/* Général */

section {
  padding: 3rem 2rem 4rem 2rem;
}

p {
  padding-top: 1rem;
  line-height: 1.4;
}
/* images */

img {
  width: 100%;
  border-radius: 5px;
}
.imgDesktop {
  display: none;
}
.imgMobile {
  display: block;
}

.backgroundImage {
  background-image: url("../img/background-alveoles-jaunes-576px.webp");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
/* fin images */

/* fin Général */

/* Display */
.dfCenter {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* fin Display */

/* TITRES */

h1 {
  padding: 1rem 0;
  font-family: "MedievalSharpBold", Georgia, "Times New Roman", Times, serif;
  font-size: 3rem;
  color: var(--color-two);
}
h2 {
  padding: 1rem 0;
  font-family: "MedievalSharpBold", Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  color: var(--color-two);
}

/* BOUTONS CTA */

.btnOk {
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0.5rem 0;
  padding: 0.3rem 0.7rem;
  font-size: 1rem;
  background: linear-gradient(315deg, transparent 10%, var(--color-three) 10%);
  border: 0;
  color: #fff;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.btnOk:hover,
.btnOk:focus {
  background: linear-gradient(
    315deg,
    transparent 10%,
    var(--color-three-dark) 10%
  );
}

/* texte / image */
.texteImg {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.texteImg .image {
  width: 300px;
}
/* fin texte / image */

/* ********************
    
    FORMAT DESKTOP
    
    ***************/

@media screen and (min-width: 576px) {
  /* images */

  .imgDesktop {
    display: block;
  }
  .imgMobile {
    display: none;
  }

  .backgroundImage {
    background-image: url("../img/background-alveoles-jaunes-2000px.webp");
  }
  /* fin images  */

  /*  texte / image */
  .texteImg .dfCenter {
    width: fit-content;
  }
  .texteImg p {
    width: calc(100% - 350px);
  }
  /* fin texte / image */
}
