@font-face {
  font-family: "MedievalSharp";
  src: url(../font/medieval/MedievalSharp-Book.ttf);
}
@font-face {
  font-family: "MedievalSharpBold";
  src: url(../font/medieval/MedievalSharp-Bold.ttf);
}
@font-face {
  font-family: "Caslon";
  src: url(../font/LibreCaslonText/LibreCaslonText-Regular.ttf);
}
@font-face {
  font-family: "CaslonBold";
  src: url(../font/LibreCaslonText/LibreCaslonText-Bold.ttf);
}

:root {
  --color-one: #faeb39;
  --color-one-light: #fff480;
  --color-one-extralight: #fefee1;

  --color-two: #488505;

  --color-three: #86b24e;
  --color-three-dark: #769b44;

  --color-four: #cacf9e;

  --color-five: #969594;
  --color-five-light: #bdbcbb;

  --color-six: #000;
}

/* INITIALISATION */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Caslon", "Times New Roman", Times, serif;
  color: var(--color-six);
  font-size: 1rem;
  text-decoration: none;
  list-style: none;
}

/* Général */

section {
  padding: 3rem 2rem 4rem 2rem;
}
.lastSection {
  padding-bottom: 14rem;
}
p {
  padding-top: 1rem;
  line-height: 1.4;
}
/* images */

img {
  width: 100%;
  border-radius: 5px;
}
.imgDesktop {
  display: none;
}
.imgMobile {
  display: block;
}

.backgroundImage {
  /* background-image: url("../img/background-alveoles-jaunes-576px.webp");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat; */
  background-color: var(--color-one-extralight);
}
/* fin images */

/* fin Général */

/* Display */
.dfCenter {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dnone {
  display: none;
}

/* fin Display */

/* TITRES */

h1 {
  margin-top: 3rem;
  padding: 1rem 0;
  font-family: "MedievalSharpBold", Georgia, "Times New Roman", Times, serif;
  font-size: 3rem;
  color: var(--color-six);
}
h2 {
  padding: 1rem 0;
  font-family: "MedievalSharpBold", Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  color: var(--color-six);
}
h3,
.h3 {
  padding: 1rem 0;
  font-family: "MedievalSharpBold", Georgia, "Times New Roman", Times, serif;
  font-size: 1.5rem;
  color: var(--color-six);
}

/* BOUTONS CTA */

.btnOk {
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0.5rem 0;
  padding: 0.5rem 0.7rem;
  font-size: 1rem;
  background: linear-gradient(315deg, transparent 10%, var(--color-three) 10%);
  border: 0;
  color: #fff;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.btnOk:hover,
.btnOk:focus {
  background: linear-gradient(
    315deg,
    transparent 10%,
    var(--color-three-dark) 10%
  );
}
.btnBack {
  display: inline-block;
  min-width: 3rem;

  margin: 0.5rem 0;
  padding: 0.5rem 0.7rem;
  font-size: 1rem;
  text-align: center;
  background: linear-gradient(
    315deg,
    transparent 10%,
    var(--color-five-light) 10%
  );
  border: 0;
  color: var(--color-six);
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.btnBack i {
  color: var(--color-six);
}
.btnBack:hover,
.btnBack:focus {
  background: linear-gradient(
    315deg,
    transparent 10%,
    var(--color-five-light) 10%
  );
}

.btnContact {
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0.5rem 1rem 0.5rem 0;
  padding: 0.3rem 0.7rem;
  font-size: 1rem;
  background: linear-gradient(315deg, transparent 10%, var(--color-three) 10%);
  border: 0;
  color: #fff;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.btnContact:hover,
.btnContact:focus {
  background: linear-gradient(
    315deg,
    transparent 10%,
    var(--color-three-dark) 10%
  );
}
/* texte / image */
.texteImg {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.texteImg .image {
  width: 300px;
}
/* fin texte / image */

/**********************
      HEADER
**********************/

/* Menu */
.menu {
  position: relative;
  z-index: 1;
  height: 8.2rem;
}
.menu .navbar-fixed {
  position: fixed;
  top: 0;
  height: fit-content;
  z-index: 1;
  -webkit-box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.35);
}
.menu .navbar {
  position: relative;
  background-color: #ffffff;
  height: 8.2rem;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

/* navbar-head*/
.menu .navbar .navbar-head {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}
.menu .navbar .navbar-head i {
  color: var(--color-three);
}

.menu .navbar .navbar-head .burger,
.menu .navbar .navbar-head .close {
  padding-left: 1rem;
  padding-right: 1rem;
}

.menu .navbar .navbar-head .burger i,
.menu .navbar .navbar-head .close i {
  font-size: 1.3rem;
  color: var(--color-three);
}

.menu .navbar .navbar-menu-items-li {

  background-color: #ffffff;
}


/* navbar-menu*/
.menu .navbar .navbar-menu {
  display: flex;
  flex-direction: column;
  width: 75vw;
  padding-bottom: 100vh;
}
.menu .navbar .navbar-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-image: url("../img/background-alveoles-jaunes-2000px.webp");
  background-attachment: fixed;
  background-size: auto;
  background-repeat: no-repeat;
  margin-top: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.menu #logo {
  min-height: 2rem;
  max-height: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.menu #logo img {
  max-height: 5rem;
}

.menu #marque {
  font-family: "MedievalSharpBold", Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
.menu .navbar .navbar-menu .navbar-link {
  border-bottom: 2px var(--color-three) solid;
  display: block;
  width: 75vw;
  padding: 1rem 2rem 0.7rem 3rem;
  color: var(--color-three);
}

.hideNav {
  position: relative;
  left: -400px;
  padding-bottom: 0 !important;
  height: 0 !important;
  opacity: 0;
  background-color: #ffffff00;
}
.showNav {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 3.3rem;
  opacity: 1;
  background-color: #ffffff;
}

/* message flash */
.alert {
  margin-top: 5.5rem;
}

/* fin Menu */

/**********************
      FOOTER
**********************/

footer {
  margin-top: -10rem;
}
footer p,
footer a {
  color: var(--color-three-dark);
  font-size: 0.8rem;
}
footer i {
  color: var(--color-three-dark);
  font-size: 1.2rem;
}

footer .head-footer {
  width: 100%;
  display: inline-block;
  background: linear-gradient(225deg, transparent 10%, var(--color-three) 10%);
}
footer .head-footer div {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .head-footer p {
  color: var(--color-six);
  font-weight: bold;
  text-align: center;
  font-size: 1.3rem;
  padding-bottom: 2rem;
}
footer .head-footer .btnContact {
  width: fit-content;
  color: var(--color-three);
  background: linear-gradient(315deg, transparent 10%, var(--color-six) 10%);
}
footer .group {
  padding: 1rem;
}
footer .group,
footer .group .first {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

footer .first .name {
  font-family: "MedievalSharpBold", Georgia, "Times New Roman", Times, serif;
  font-size: 1.5rem;
}

footer .first .networks {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer .first .networks a {
  display: block;
}

footer .second {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}
footer .second div {
  margin-top: 1.5rem;
  width: 202px;
}
footer .second .bold {
  font-weight: bold;
}
footer .fin {
  margin-top: 1.5rem;
}
footer .fin,
footer .fin a {
  text-align: center;
  font-size: 0.6rem;
}

/* ********************
    
    FORMAT DESKTOP
    
    ***************/

@media screen and (min-width: 576px) {
  /* taille sections desktop */
  .widthDesktop {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  /* taille sections desktop */

  /* images */

  .imgDesktop {
    display: block;
  }
  .imgMobile {
    display: none;
  }

  /* .backgroundImage {
    background-image: url("../img/background-alveoles-jaunes-2000px.webp");
  } */
  /* fin images  */

  /*  texte / image */
  .texteImg .dfCenter {
    width: fit-content;
  }
  .texteImg p {
    width: calc(100% - 350px);
  }
  /* fin texte / image */

  .btnContact {
    margin: 0.5rem 2rem 0.5rem 0;
  }

  /**********************
      HEADER
**********************/

  /* menu */
  .menu {
    height: 7.2rem;
  }

  .menu .navbar {
    width: 100vw;
    height: auto;
    align-items: center;
  }

  /*navbar-head*/
  .menu .navbar .navbar-head {
    width: fit-content;
  }

  .menu .navbar .navbar-head .burger,
  .menu .navbar .navbar-head .close {
    display: none;
  }

  /*navbar-menu*/
  .menu .navbar .hideNav {
    position: absolute;
    left: 0;
    opacity: 1;
    /* background-color: #ffffff; */
    height: auto !important;

  }

  .menu .navbar .navbar-menu {
    width: 100%;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    flex-direction: row;
    align-items: first baseline;
    font-size: 0.9rem;
  }

  .menu .navbar .navbar-logo {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
  }
  .menu #marque {
    font-size: 3rem;
  }
  .menu .navbar .navbar-menu .navbar-link {
    display: block;
    width: 8rem;
    padding: 0.5rem 1rem;
    border: none;
    text-align: center;
    color: var(--color-six);
  }
  .menu .navbar-menu-items-li .navbar-link {
    width: auto !important;
  }
  .menu .navbar .navbar-menu .navbar-link:hover {
    font-weight: bold;
    text-decoration: underline;
  }

  /* fin menu */

  /**********************
      FOOTER
**********************/

  footer .head-footer {
    background: linear-gradient(225deg, transparent 5%, var(--color-three) 5%);
  }

  footer .group,
  footer .group .second {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  footer .group .first {
    min-width: 280px;
    margin-top: 1rem;
  }
  footer .group .first .name {
    padding-top: 0;
  }
  footer .group .second {
    flex-wrap: wrap;
  }
  footer .second div {
    margin: 1rem;
  }
  footer .second .bold {
    padding-top: 0;
  }
}
