#confidentialite h1{
    font-family: 'Caslon', 'Times New Roman', Times, serif;
    font-size: 1.8rem;
    }

#confidentialite h2{
font-family: 'Caslon', 'Times New Roman', Times, serif;
font-size: 1.3rem;
}
#confidentialite h3{
    font-family: 'Caslon', 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    }
#confidentialite ol li {

    list-style: decimal;
    margin-left: 2rem;
}
