/* entête */
#home .entete {
  background-image: url("../../assets/img/abeilles-accueil-576px.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 83vh;
  width: 100vw;
  padding: 0;
  color: var(--color-six);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#home .entete .accroche {
  width: 100%;
  padding: 2rem;
  background-color: #ffffff99;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#home .accroche h1 {
  margin-top: 0;
  text-align: center;
}
#home .accroche p {
  text-align: center;
}

/* fin entête */

/* présentation */

#home .presentation .mapGeoportail {
  margin-top: 2rem;
}
/* fin présentation */

/* histoire / valeurs */
#home .histoire p {
  margin-bottom: 2rem;
}

#home .valeurs {
  margin: 2rem auto;
}
#home .histoire .valeurs p {
  margin-bottom: 0;
}

#home .valeurs .texteValeurs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
#home .valeurs .texteValeurs p {
  padding-left: 0.5rem;
}
/* fin histoire / valeurs */

/* produits */
#home .produits p {
  padding-bottom: 1rem;
}
/* fin produits */
/* ********************
  
  FORMAT DESKTOP
  
  ***************/

@media screen and (min-width: 576px) {
  /* entête */

  #home .entete {
    background-image: url("../../assets/img/abeilles-accueil-3768px.webp");
  }

  #home .entete .accroche {
    max-width: 45%;
    height: 83vh;
    padding: 2rem 2rem 2rem 4rem;
  }
  #home .entete .accroche h1,
  #home .entete .accroche p {
    text-align: left;
  }

  /* fin entête */
  /* histoire / valeurs */

  #home .valeurs .texteValeurs {
    width: 300px;
    justify-content: center;
  }
  #home .valeurs .ligne1Valeurs {
    padding-bottom: 1rem;
    margin: auto;
  }
  #home .valeurs .ligne2Valeurs,
  #home .valeurs .ligne3Valeurs {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  #home .valeurs .ligne2Valeurs {
    justify-content: space-between;
  }
  #home .valeurs .ligne3Valeurs {
    padding-top: 1rem;
    justify-content: center;
  }
  /* histoire / valeurs */
}
/* fin format Desktop */
