/* entête */
#home .titre {
  position: relative;
  background-image: url("../img/bees-background-m.webp");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 90vh;
}

#home .titre h1 {
  margin-top: 6rem;
}
#home .accroche {
  padding: 1rem 0;
  font-size: 1.5rem;
  font-family: "InterBold", Arial, Helvetica, sans-serif;
}
#home .imagesTitre {
  position: absolute;
  bottom: 2rem;
  width: calc(100% - 4rem);

}
#home .arrow-m {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;

}
#home .arrow-d {
  display: none;
}
#home .imageTitre {
  display: none;
}
/* fin entête */

/* ********************
  
  FORMAT DESKTOP
  
  ***************/

@media screen and (min-width: 576px) {
  /* entête */
  #home .titre {
    background-image: none;
  }
  #home .titre h1 {
    margin-top: 3rem;
  }
  #home .titre .accroche {
    margin-bottom: 2rem;
  }
  #home .arrow-d {
    display: block;
    width: 300px;
  }
  #home .arrow-m {
    display: none;
  }
  #home .imagesTitre {
    position: relative;
    width: auto;
    bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #home .imagesTitre .dfCenter {
    width: 50%;
  }
  #home .imageTitre {
    display: block;
    width: 500px;
  }

  /* fin entête */
}
/* fin format Desktop */
