/* entête */
#home .titre {
  position: relative;
  background-image: url("../img/abeilles-alveoles-500px-m.webp");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 90vh;
}

#home .titre h1 {
  margin-top: 6rem;
}
#home .accroche {
  padding: 1rem 0;
  font-size: 1.5rem;
  font-family: "InterBold", Arial, Helvetica, sans-serif;
}
#home .imagesTitre {
  position: absolute;
  bottom: 2rem;
  width: calc(100% - 4rem);
}
#home .arrow-m {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
}
#home .arrow-d {
  display: none;
}
#home .imageTitre {
  display: none;
}
/* fin entête */

/* présentation */

#home .presentation .mapGeoportail {
  margin-top: 2rem;
}
/* fin présentation */

/* histoire / valeurs */
#home .histoire p {
  margin-bottom: 2rem;
}

#home .valeurs {
  margin: 2rem auto;
}
#home .histoire .valeurs p {
  margin-bottom: 0;
}


#home .valeurs .texteValeurs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
#home .valeurs .texteValeurs p {
  padding-left: 0.5rem;
}
/* fin histoire / valeurs */

/* produits */
#home .produits p {
  padding-bottom: 1rem;
}
/* fin produits */
/* ********************
  
  FORMAT DESKTOP
  
  ***************/

@media screen and (min-width: 576px) {
  /* entête */
  #home .titre {
    background-image: none;
  }
  #home .titre h1 {
    margin-top: 3rem;
  }
  #home .titre .accroche {
    margin-bottom: 2rem;
  }
  #home .arrow-d {
    display: block;
    width: 300px;
  }
  #home .arrow-m {
    display: none;
  }
  #home .imagesTitre {
    position: relative;
    width: auto;
    bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #home .imagesTitre .dfCenter {
    width: 50%;
  }
  #home .imageTitre {
    display: block;
    width: 500px;
  }

  /* fin entête */
  /* histoire / valeurs */

  #home .valeurs .texteValeurs {
    width: 300px;
    justify-content: center;
  }
  #home .valeurs .ligne1Valeurs {
    padding-bottom: 1rem;
    margin: auto;
  }
  #home .valeurs .ligne2Valeurs,
  #home .valeurs .ligne3Valeurs {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  #home .valeurs .ligne2Valeurs {
    justify-content: space-between;
  }
  #home .valeurs .ligne3Valeurs {
    padding-top: 1rem;
    justify-content: center;
  }
  /* histoire / valeurs */
}
/* fin format Desktop */
