#mentions h1{
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    }

#mentions h2{
font-family: 'Inter', Arial, Helvetica, sans-serif;
font-size: 1.3rem;
}
#mentions h3{
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    }

