{% extends 'emails/base_emails.html.twig' %}

{% block body %}


	<p style="
	  font-family: 'Inter', Arial, Helvetica, sans-serif;
	">Une nouvelle demande vous a été envoyée :</p>
	<p style="
	  font-family: 'Inter', Arial, Helvetica, sans-serif;
	">
		<span style="font-weight: bold;">Message de :</span>
		{{data.firstName}} {{data.name}}

	</p>
	<p  style="
	  font-family: 'Inter', Arial, Helvetica, sans-serif;
	">
		<span style="font-weight: bold;">Coordonnées :</span>

		{{data.email}}</p>

	<p style="
	  font-family: 'Inter', Arial, Helvetica, sans-serif;
	  font-weight: bold;
	">Message :</p>

	<p  style="
	  font-family: 'Inter', Arial, Helvetica, sans-serif;
	">{{data.message | nl2br}}</p>


{% endblock %}
