{% extends 'emails/base_emails.html.twig' %}

{% block body %}
	<p>
		Bonjour
		{{ user.nom}},</p>

	<p>Pour votre demande de modification de mot de passe, veuillez cliquer sur le lien ci-dessous :</p>
	<p>
		<a href="{{url | raw}}">{{url | raw}}</a>
	</p>
	<p>Ce lien expirera dans 20 minutes.</p>
	<p>Bien cordialement,</p>
	<p>Administration Les Ruchers des Gobelins</p>

{% endblock %}