{% extends 'base.html.twig' %}

{% block title %}Mentions Légales | Les Ruchers des Gobelins
{% endblock %}

{% block body %}
	<main id="mentionsLegales">
		<section>
			<h1>MENTIONS LEGALES :</h1>

			<p>En conformité aux obligations de l'article 6-III et 19 de la Loi n° 2004-575 du 21 juin 2004 concerçant la Confiance en l'économie numérique, dite L.C.E.N., nous portons à la connaissance des visiteurs du site internet :
				<a href="https://lesruchersdesgobelins.fr" target="_blank">lesruchersdesgobelins.fr</a>
				les informations ci-jointe :
			</p>

			<h2>1. Déclaration légales :</h2>
			<p>
				<ul>
					<li>Nom du propriétaire :
						<strong>Stéphane Gobe</strong>
					</li>
					<li>Adresse postale du titulaire :
						<strong>1 rue de la Cour Marette - 27950 LA HEUNIERE</strong>
					</li>
                    <li>Le développeur du site :
						<strong><a href="https://amandinnov.fr/"  target="_blank">Amand'Innov Web</a></strong>
                    </li>
					<li>Ou contacter le Titulaire :
						<strong>
							<a href="mailto:stephane.gobe@free.fr?subject=Contact a partir des mentions légales via le site lesruchersdesgobelins.fr">stephane.gobe@free.fr</a>
						</strong>
					</li>
				</ul>
			</p>
			<br>
			<p>
				<ul>
					<li>Entreprise qui assure l'hébergement : OVH</li>
					<li>SAS au capital social de 10 174 560 Euros</li>
					<li>Immatriculation RCS Lille Métropole 424 761 419 00045</li>
					<li>Code d'Activité principale exercée (APE) 2620Z</li>
					<li>Num. de TVA : FR 22 424 761 419</li>
					<li>Siège Sociale de l'entreprise : 2 rue Kellermann - 59100 Roubaix - France</li>
				</ul>
			</p>
			<br>
			

			<h2>
				2. Présentation :</h2>


			<p>Tout internaute qui utilise le site internet :
				<a href="https://lesruchersdesgobelins.fr" target="_blank">lesruchersdesgobelins.fr</a>
				est considéré comme utilisateur du site.
			</p>
			<br>
			<p>Le site
				<strong>lesruchersdesgobelins.fr</strong>
				réuni différents services, en l'état, disponibles pour les utilisateurs. Il est naturellement précisé que ces derniers doivent rester honnêtes et faire preuve de bonne foi tant envers les différents usagés qu'envers le Réalisateur du site lesruchersdesgobelins.fr. Le site lesruchersdesgobelins.fr est mis à jour de façon régulière par Les Ruchers des Gobelins.
			</p>
			<br>
			<p>Les Ruchers des Gobelins s'efforcent d'offrir sur le site suivant lesruchersdesgobelins.fr des informations les plus véridiques possibles (sous réserve de modifications apportées depuis leur mise en ligne), mais ne sauraient assurer l'exactitude, la finitude et l'actualité des informations diffusées sur son site internet, qu'elles soient de son fait ou non. En répercussion, l'utilisateur reconnaît utiliser ces informations données (à titre indicatif, non exhaustives et susceptibles d'évoluer) sous son unique responsabilité.</p>

			<h2>3. Accessibilité Numérique :</h2>
			<p>
				Le site lesruchersdesgobelins.fr est par principe accessible aux utilisateurs H24 7/7, sauf en cas d'interruption, prévue ou pas, pour les besoins de maintenance ou force majeure. En cas d'impossibilité d'accès au service, Les Ruchers des Gobelins s'engagent à faire leur maximum pour rétablir l'accès au site web et tentera alors de communiquer au préalable aux utilisateurs les Dates & heures de l'intervention. N'étant subordonné qu'à une redevance de moyen, Les Ruchers des Gobelins ne pourraient être designés comme responsables des dommages, peu importe sa nature.</p>


			<h2>4. Droit de propriété intellectuelle :</h2>
			<p>
				Les Ruchers des Gobelins sont les propriétaires exclusif de tous les droits de propriété intellectuelle ou détiennent les droits d'usage sur tous les éléments accessibles sur le site internet, tant structurellement que sur les textes, images, graphismes, logo, bande sonore, logiciels etc…</p>
			<p>
				Toute reproduction même partielle du site lesruchersdesgobelins.fr, représentation, modification, adaptation totalement ou partiellement de l'un de ces éléments, quel que soit le moyen ou la technique utilisé, est formellement interdite, excepté acceptation écrite préalable de Stéphane Gobe, directeur du site à l'email : stephane.gobe@free.fr, à défaut elle sera considérée comme constitutive d'une contrefaçon et passible de poursuites conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.</p>


			<h2>5. Crédits :</h2>

			<p>Photos et illustrations : Les Ruchers des Gobelins ou 
				<a href="https://pixabay.com/" target="_blank">Pixabay.com</a>
			</p>

			<h2>6. Liens hypertextes et cookies :</h2>
			<p>Notre politique de confidentialité est détaillée à cette adresse :
				<a href="{{ path('app_confidentialite') }}">www.lesruchersdesgobelins.fr/politique-de-confidentialite</a>.
			</p>


			<h2>7. Protection des personnes & biens - Maniement des données personnelles :</h2>

			<p>Notre politique de confidentialité est détaillée à cette adresse :
				<a href="{{ path('app_confidentialite') }}">www.lesruchersdesgobelins.fr/politique-de-confidentialite</a>.
			</p>

            <p>Ces mentions ont été réalisées via
				<strong>
					<a href="https://www.generateur-de-mentions-legales.com" target="_blank">ce générateur</a>
				</strong>.
			</p>

		</section>
	</main>
{% endblock %}
